.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  border: solid lightgrey 1px;
  padding: 20px;
  min-width: 300px;
  margin: 20px;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
